/*-----Estilos generales-----*/

body {
    background-color: #e0a913;
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
}

.textoNegro {
    color: black;
}


/*----Fin Estilos generales----*/


/*----Inicio Header-----*/

nav a {
    color: black;
}


/*----Fin Header-----*/


/*----Inicio seccionViaja-----*/

#seccionViaja {
    background-image: url(../img/taxi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 900px;
    margin-top: -5%;
    margin-left: 0;
}


/*---formViaja----*/

#contenedorFormViaja {
    margin-top: 20%;
}

#formViaja {
    color: white;
    background-color: #e0a913;
    padding: 10%;
    width: 100%;
}

#formViaja button {
    color: black;
    border-radius: 4px;
}

.rayita {
    margin-top: 5%;
    color: #fff;
    max-width: 400px;
    text-align: center;
}

.rayita::after {
    content: "O bien";
    display: inline-block;
    position: relative;
    top: .1em;
    font-size: 1em;
    padding: 0 4em;
    background: #e0a913;
    top: -10px;
    color: #fff;
}


/*---formViaja----*/


/*----Fin seccionViaja-----*/


/*---Inicio seccionApp---*/

#seccionApp {
    color: white;
}

.bordeApp {
    margin: 3%;
    margin-left: 0;
    border: white 3px solid;
    padding: 3%;
}

.contenedorImgIphone img {
    margin-left: 20%;
}

.contenedorP {
    margin-left: 5%;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 2%;
}

.contenedorP p {
    margin-top: 15%;
    font-size: 1.2vw;
}


/*---Fin seccionApp---*/


/*---Inicio seccionConduce---*/

#seccionConduce {
    background-image: url(../img/conduce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: %;
    margin-left: 0;
}

.cuadroTransparente{
    background-color:rgba(18, 15, 15, 0.6);
    height: 100%;
    padding-top: 10%;
    padding-bottom: 15%;
    padding-left: 5%;
    font-size: 1.2vw;
}
.cuadroTransparente button{
    background: #e0a913;
    color: white;
    
}

/*---Fin seccionConduce---*/

/*----Inicio seccionTarifas---*/

#contenedorForm{
    padding: 4%;
    padding-bottom: 10%;
    
}
.formTarifas{
    padding-top: 10%;
    
}

.formTarifas input{
    background-color: #e0a913;
}
.formTarifas button{
    font-size: 1vw; 
}

#contenedorMapa{
    padding: 6%;
}



